<!-- <app-banner title="Weather Detail"></app-banner>
<div class="mycontainer">
<div class="card m-5 " style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Weather</h5>
      <p class="card-text">City :{{city}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Temperature :{{temperature}}</li>
      <li class="list-group-item">Sunrise :{{sunrise}}</li>
      <li class="list-group-item">Sunset : {{sunset}}</li>
      <li class="list-group-item">Humidity :{{humidity}} %</li>
    </ul>
    
  </div>
</div> -->