
<app-banner title ="login"></app-banner>
   
  <form [formGroup]="loginForm">
  <div class=" container form-group">
   <input type="email" class="form-control" formControlName="email" placeholder="Email">
  </div>
  <div *ngIf="loginForm.controls['email'].invalid && (

         loginForm.controls['email'].touched || 

         loginForm.controls['email'].dirty )">

         <div *ngIf="loginForm.controls['email'].errors.required" style="color: red;">

          Email  is required

         </div>
         <div *ngIf="loginForm.controls['email'].errors.email" style="color: red;">
          
          FORMAT  EMAIL ERROR
         </div>

  </div>
  <div class=" container form-group">
    <input type="password" class="form-control" formControlName="pwd" placeholder="Password">
  </div>
  <div *ngIf="loginForm.controls['pwd'].invalid && (

  loginForm.controls['pwd'].touched || 

  loginForm.controls['pwd'].dirty )">

  <div *ngIf="loginForm.controls['pwd'].errors.required" style="color: red;">

    Password  is required

  </div>
 

</div>

<div>
  <span>{{messageError}}</span>
</div>

  <div class=" container form-group">
    <input type="submit" (click)="login()" class="btn btn-primary py-3 px-5" value="Login">
  </div>
</form>


