<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">AGE</th>
        <th scope="col">POSITION</th>
        <th scope="col">NBRE</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let elt of players">
        <th scope="row">{{elt._id}}</th>
        <td>{{elt.name}}</td>
        <td>{{elt.age}}</td>
        <td>{{elt.position}}</td>
        <td>{{elt.nbre}}</td>
        <td><button type="button" class="btn btn-success" (click)="displayPlayer(elt._id)">DISPLAY</button>
            <button type="button" class="btn btn-warning" (click)="goToEditPlayer(elt._id)">EDIT</button>
            <button type="button" class="btn btn-danger"  (click)="deletePlayer(elt._id)">DELETE</button>
       </td>
      </tr>
    
  
    </tbody>
  </table>
