<app-banner title ="signup"></app-banner>

   <form [formGroup]="signupForm">
  <div class="container form-group">
    <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
  </div>
  <div *ngIf="signupForm.controls['firstName'].invalid && (
       signupForm.controls['firstName'].touched  ||
       signupForm.controls['firstName'].dirty )">

       <div *ngIf="signupForm.controls['firstName'].errors.required" style="color: red;">

        First name is required

       </div>
       <div *ngIf="signupForm.controls['firstName'].errors.minlength" style="color: red;">

        First Name must have at least 3 chars

       </div>

  </div>
  <div class=" container form-group">
    <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
  </div>
  <div *ngIf="signupForm.controls['lastName'].invalid && (
    signupForm.controls['lastName'].touched  ||
    signupForm.controls['lastName'].dirty )">

    <div *ngIf="signupForm.controls['lastName'].errors.required" style="color: red;">

      Last name is required

    </div>
    <div *ngIf="signupForm.controls['lastName'].errors.minlength" style="color: red;">

     Last Name must have at least 5 chars

    </div>

</div>
  <div class=" container form-group">
    <input type="email" class="form-control" formControlName="email" placeholder="Email">
  </div>
  <div *ngIf="signupForm.controls['email'].invalid && (
    signupForm.controls['email'].touched  ||
    signupForm.controls['email'].dirty )">

    <div *ngIf="signupForm.controls['email'].errors.required" style="color: red;">

     Email  is required

    </div>
    <div *ngIf="signupForm.controls['email'].errors.email" style="color: red;">

     FORMAT  EMAIL ERROR

    </div>
</div>
<div>
  <span style="color: red;">{{msgError}}</span>
</div>
  
  <div class=" container form-group">
    <input type="password" class="form-control"  formControlName="pwd" placeholder="Password">
  </div>
  <div *ngIf="signupForm.controls['pwd'].invalid && (
    signupForm.controls['pwd'].touched  ||
    signupForm.controls['pwd'].dirty )">

    <div *ngIf="signupForm.controls['pwd'].errors.required" style="color: red;">

      pwd  is required

    </div>
    <div *ngIf="signupForm.controls['pwd'].errors.minlength" style="color: red;">

      PWD  must have at least 6 chars

    </div>
    <div *ngIf="signupForm.controls['pwd'].errors.maxlength" style="color: red;">

      PWD  must have at most 12 chars

    </div>

</div>
<div class=" container form-group" style="visibility: hidden;" >
  <input type="file" class="form-control" #filePicker (change)="onImageSelected($event)"  >
</div>
<div class="text-center">
  <button class="btn btn-info" (click)="filePicker.click()">select your avatar</button>
</div>

<div class="text-center mt-5">
  <!-- <img src={{imagePreview}} alt="" width="200px"> -->
  <img [src]="imagePreview" alt="" width="200px">
</div>



  <div class=" container form-group text-center mt-4">
    <input type="submit" [disabled]="signupForm.invalid" (click)="signup()" class="btn btn-primary py-3 px-5" value="Signup">
  </div>
</form>


